#main > h2 { background-position: 0 -224px; margin-bottom: 0; }

#videos { width: 575px; height: 342px; margin-top: 20px; background-color: #beb931; padding: 15px 30px; overflow: hidden; }
#videos-container { position: relative; }
#play { cursor: pointer; position: absolute; width: 189px; height: 107px; top: 50%; left: 50%; margin-top: -54px; margin-left: -95px; background: url(../img/media/play_button.png) no-repeat 0 0 transparent; z-index: 10; }
#icon { width: 57px; height: 65px; margin: 20px auto; background: url(../img/media/play_icon.png) no-repeat 0 0 transparent; z-index: 15; opacity: 0.5; }
#player { position: absolute; top: 0; left: -9999px; z-index: 50; }
#cycle { margin-bottom: 5px; }
#cycle_nav a { display: block; width: 17px; height: 17px; background-color: #fff; float: left; margin-right: 11px; text-indent: -9999px; }
#cycle_nav a.activeSlide { background-color: #393937; }
#cycle_nav a:focus { outline: none; }
#more_vids { background-color: #fff; color: #393937; text-transform: uppercase; font-weight: bold; padding: 0 5px 0 7px; display: inline-block; height: 17px; line-height: 17px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
#more_vids:hover { background-color: #393937; color: #fff; }

#downloads { float: right; margin-right: 140px; margin-top: 20px; }
#downloads h3, #downloads a { display: block; }
#downloads a { width: 120px; margin-left: 20px; }

#photostream { background-color: #373737; padding: 15px 12px 5px 12px; width: 988px; height: 106px; margin-top: 20px; }
#photostream .next, #photostream .prev { display: block; height: 70px; float: left; margin-top: 6px; cursor: pointer; width: 27px; }
#photostream .next { background: url(../img/media/next.png) no-repeat 0 0 transparent; }
#photostream .prev { background: url(../img/media/previous.png) no-repeat 0 0 transparent; }
#photostream .next.disabled, #photostream .prev.disabled { opacity: 0.3; }
#photostream .viewport { width: 890px; overflow: hidden; position: relative; height: 81px; float: left; margin: 0 20px; }
#photostream .ul-container { width: 2670px; position: absolute; top: 0; left: 0; left: -890px; }
#photostream ul { list-style: none; padding: 0; margin: 0; width: 890px; position: absolute; }
#photostream li { border: 3px solid #fff; float: left; margin-right: 20px; }
#photostream li:last-child { margin-right: 0; }
#photostream li:hover { border-color: #BEB931; }
#photostream .gallery { clear: both; float: right; margin-right: 50px; margin-top: 6px; width: 27px; height: 19px; display: block; background: url(../img/media/gallery.png) no-repeat 0 0 transparent; cursor: pointer; }
