#main > h2 { background-position: 0 -224px; margin-bottom: 0; }

#videos { height: 360px; width: 773px; margin-top: 20px; background-color: #beb931; }

#photostream { background-color: #373737; padding: 15px 12px 30px 12px; width: 988px; margin-top: 27px; }