#main { background: #2f2f2f url('../img/backgrounds/prayer.jpg') no-repeat top left; font-size: 0.85em; position: relative; }
#main > h2 { background-position: 0 -336px; margin-bottom: 0; }

#content { margin-left: 62px; }

#intro { width: 600px; }

#read { background-image: none; }

#dialog { padding: 0 15px 15px 15px; }
#map { float: left; width: 757px; background-color: #ccc; border: 5px solid #ccc; color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#dialog article { float: right; width: 231px; height: 500px; }
#dialog article h2 { color: #b3b130; font-size: 19px; font-weight: normal; }

#prayers { padding: 0; }
#prayers li { list-style: none; margin-bottom: 15px; cursor: pointer; }
#prayers li:hover { color: #bdb933; }
.author { font-style: italic; }
address { display: inline; }

#prayerform { margin-left: 13px; }
#prayerform .textbubble { display: inline-block; padding: 15px; }
#prayerform form { background-color: #fff; padding: 10px 20px; display: inline-block; }
label { font-weight: bold; display: inline-block; width: 100px; text-align: right; padding: 2px 10px; }
input, textarea { width: 300px; margin: 3px 0; }
input.greenbutton { width: auto; float: right; }

.greybubble { width: 160px; font-weight: bold; }