#main { background: #2f2f2f url('../img/backgrounds/who-we-are.jpg') no-repeat top left; font-size: 0.85em; }
#main > h2 { background-position: 0 -56px; margin-bottom: 0; }

.fl { float: left; }

.wrapper { margin-left: 46px; }
.textbubble-outside { width: 85%; margin-left: 9px; }
.textbubble { padding: 10px 15px; }
.greybubble { width: 190px; }
.textbubble .overlay { background-color: #e0dd84; padding: 10px; }
.textbubble .greybubble { margin-left: 10px; }

#statement { background-image: none; }
#statement-dialog { font-size: 14px; }
#statement-dialog .overview { padding: 0 55px 20px 45px; }
#statement-dialog h2 { color: #fff; font-size: 23px; margin: 0; margin-bottom: 20px; }
#statement-dialog a:focus { outline: none; }
#statement-dialog p, #statement-dialog li { margin-bottom: 15px; }

#james, #mark { float: left; width: 50%; }
#james p, #mark p { margin: 5px 0; margin-left: 20px; }
#james ul, #mark ul { padding: 0; margin: 2px 0; margin-left: 30px; }
#james li, #mark li { background: url("../img/icons.png") no-repeat scroll 0 0 transparent; font-weight: bold; list-style: none; margin-bottom: 5px; padding-left: 30px; }
#james li a, #james li a:visited, #mark li a, #mark li a:visited { color: #504c4c; }

#staff { width: 40%; }
dl { font-weight: bold; margin: 0; }
dt { color: #fff; clear: left; }
dt:after { content: ":"; }
dt, dd { float: left; }
dd { margin: 0; margin-left: 10px; }